//* ========================================== Common SCSS starts here ========================================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$grey: #9c9c9c;
$yellow: #ff7f3e;
$rate_bg: #474f7a;
$font: "Mukta", sans-serif;
$box-color: #1f2544;

img {
  max-width: 100%;
}

a {
  display: inline-block;
}

// Layout
.container {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ======================================== Common SCSS ends here ========================================= */

body {
  background: radial-gradient(
    circle at 50% 50%,
    #dec2ff,
    #c0a1e4,
    #7f5dab,
    #3f1e74,
    #1f005c
  );
}

/* -/-/-/-/-/-/-/-/-/-/- Main SCSS starts here -/-/-/-/-/-/-/-/-/-/- */

.inner_rating_componment {
  display: flex;
  justify-content: center;
  margin: 150px 0;
  height: 480px;
}

// ----- Box 1 SCSS starts here ----- //
.box_1 {
  position: relative;
  background-color: $box-color;
  display: inline-block;
  font-family: $font;
  padding: 25px;
  border-radius: 10px;
  width: 500px;
  display: flex;
  flex-direction: column;
  box-shadow: 7px 7px 16px -3px rgba(0, 0, 0, 1);

  .star i {
    color: $yellow;
    font-size: 30px;
    margin: 5px 0 30px;
    animation: customAni 5s ease-in-out 0s infinite normal none;
    @keyframes customAni {
      0% {
        transform: scale(1);
      }

      50% {
        transform: scale(2);
        rotate: 360deg;
      }

      100% {
        transform: scale(1);
      }
    }
  }

  .title {
    h1 {
      margin: 5px 0 30px;
      color: white;
    }
  }

  .subtitle {
    p {
      color: $grey;
      margin: 5px 0 20px;
      font-size: 18px;
    }
  }

  .rating {
    display: flex;
    justify-content: center;

    .rating_btn {
      background-color: $rate_bg;
      display: inline-block;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      margin: 5px 15px;
      border-radius: 100%;
      cursor: pointer;
      color: white;
      font-size: 20px;
      font-weight: bold;
      border: 2px solid transparent;
      transition: 0.25s;

      &:hover {
        background-color: $yellow;
      }
    }

    .rating_btn.active {
      border: 2px solid $yellow;
    }
  }

  .submit {
    text-align: center;
    a {
      background-color: $yellow;
      color: white;
      margin: 30px 0 0;
      text-decoration: none;
      padding: 10px 80px;
      border-radius: 25px;
      letter-spacing: 5px;
      font: {
        size: 18px;
        weight: bold;
      }
      transition: 0.3s;
      box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.4);
      border-bottom: 7px solid #464646;

      &:hover {
        box-shadow: 0 0 rgba(0, 0, 0, 0.4);
        border-bottom-width: 0px;
        transform: translateY(7px);
      }
    }
  }
}
// ----- Box 1 SCSS ends here ----- //

// ----- Box 2 SCSS starts here ----- //
.box_2 {
  position: relative;
  background-color: $box-color;
  display: none;
  font-family: $font;
  padding: 25px;
  width: 500px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 7px 7px 16px -3px rgba(0, 0, 0, 1);

  .icon {
    i {
      color: $yellow;
      margin: 5px 0 30px;
      font-size: 80px;
      animation: scale-down-center 1.6s cubic-bezier(0.47, 0, 0.745, 0.715)
        infinite alternate forwards;
      @keyframes scale-down-center {
        0% {
          transform: scale(1);
        }
        100% {
          transform: scale(0.7);
        }
      }
    }
  }

  .result {
    font-size: 20px;
    line-height: 26px;
    color: $yellow;
    background-color: $rate_bg;
    display: inline-block;
    margin: 5px 0 30px;
    padding: 10px 13px;
    border-radius: 25px;
  }

  .title {
    h1 {
      margin: 5px 0 30px;
      color: white;
    }
  }

  .subtitle {
    p {
      color: $grey;
      margin: 5px 0;
      font-size: 18px;
    }
  }
}
// ----- Box 2 SCSS ends here ----- //

#copyright {
  position: absolute;
  right: 28%;
  bottom: 3px;
  color: white;
  font-size: 13.5px;
  i {
    margin: 0 0 0 5px;
  }
  a {
    text-decoration: none;
    color: $yellow;
    transition: 0.25s;
    &:hover {
      color: white;
    }
  }
}

/* -/-/-/-/-/-/-/-/-/-/- Main SCSS ends here -/-/-/-/-/-/-/-/-/-/- */

// ------------------------------ Media Queries ------------------------------ //

// For screen width 425 - 575 px //
@media only screen and (max-width: 575px) {
  .inner_rating_componment {
    height: 503px;
  }
  .box_1,
  .box_2 {
    width: 361px;
  }
  .box_1 .rating .rating_btn {
    margin: 5px 6px;
  }
  #copyright {
    right: 20%;
  }
}

// For screen width 375 - 424 px //
@media only screen and (max-width: 424px) {
  .box_1 {
    padding: 15px;
  }
  .box_1 .star i {
    font-size: 20px;
  }
  .box_1 .title h1 {
    font-size: 30px;
    line-height: 36px;
  }
  .box_1 .rating .rating_btn {
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
  }
  .box_1 .submit a {
    padding: 6px 72px;
  }
  .box_1,
  .box_2 {
    width: 320px;
  }
  .box_1 .rating .rating_btn {
    margin: 5px 4px;
  }
  #copyright {
    right: 15%;
  }
}
